<style>

        .h2{
    background-color: blue;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

        .container-navbar{
    border: 5px solid blue;
    background-color: blue;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
}


</style>